
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  text-decoration: none;
}
:root {
  --blue: #0000FF;
  --blue-dark: #001B87;
  --blue-text:#30E7ED;
  --dark-light: #181818;
  --dark: #111;
  --light: #ffffff;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--dark);
  color: var(--light);
}
.container,
.header-inner {
  max-width: 1200px;
  padding: 0px 20px;
  width: 100%;
  margin: auto;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  transition: 0.3s;
  width: 100%;
  cursor: pointer;
}
img {
  width: 100%;
}
header {
  height: 100px;
}
header.sticky {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.6);
  z-index: 10;
  transition: 0.3s;
  position: sticky;
  top: 0;
  background: var(--dark-light);
  height: 70px;
}
header .header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header-inner .logo {
  font-size: 30px;
  line-height: 40px;
  color: var(--blue-text);
  font-weight: 900;
}
.header-inner .link {
  margin-right: 30px;
  color: var(--blue-text);
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  transition: 0.3s;
}
.header-inner .link:hover {
  color: var(--blue-text);
}
header .menu {
  display: none;
}
header .mobile-links {
  display: none;
}
.banner .banner-img {
  position: relative;
 width: 70%;
 padding: 150px 20px 40px 50px ;

}
.banner .banner-wrapper {
  height: calc(100vh - 120px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 200px 30px 300px 30px ;
  background-image:url(/src/images/neon.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-bottom: 300px;
}
.banner .banner-content h4 {
  font-size: 30px;
  line-height: 26px;
  color: var(--blue-text);
  font-weight: 600;
  padding: 150px 60px 00px 10px ;
}
.banner .banner-content h3 {
  font-size: 20px;
  line-height: 50px;
  color: var(--light);
  padding: 00px 60px 0px 10px ;
  margin: 6px 0px;
  font-weight: 900;
}
.banner .banner-content p {
  font-size: 16px;
  line-height: 26px;
  color: var(--light);
  padding: 00px 60px 10px 10px ;
}

.banner .banner-content .btn {
  max-width: 150px;
  height: 50px;
  background: #0058B3;
  color: var(--light);
  margin-top: 10px;
  margin-left: 10px;
  border: 1px solid var(--blue-dark);
  font-weight: 600;
}
.banner .banner-content .btn:hover {
  background:  #00A6D7;
} 

.projects {
  padding: 70px 0px;
}
.projects .title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}
.projects .title h3 {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
  font-weight: 900;
}
.projects .title .btn {
  max-width: 150px;
  height: 50px;
  background: #0058B3;
  color: var(--light);
  border: 1px solid var(--blue-dark);
  font-weight: 1000;
  color: #fff;
}

.projects .title .btn:hover {
  background: var(--blue-text);
}

.projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.projects-wrapper .project {
  flex: 0 0 calc(50% - 10px);
  max-width: calc(50% - 10px);
  width: 100%;
  margin-bottom: 30px;
}
.project .img-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image:url(/src/images/neon.png);
  background-repeat: no-repeat;
  padding: 60px 0px;
  overflow: hidden;
}
.project .img-container img {
  width: 90%;
  object-fit: cover;
  height: 300px;
  box-shadow: 0 5px 10px var(--dark);
  transition: 0.3s;
}
.project:hover .img-container img {
  transform: scale(1.2);
}
.project .description {
  margin: 15px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--blue-dark);
  border-top: 2px solid var(--blue-dark);
  padding: 15px 0px;
}
.project .description h4 {
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
}
.project .links a {
  margin-right: 15px;
}
.project i {
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  transition: 0.3s;
  color: var(--blue-text);
}
.project i:hover {
  color: var(--blue-text);
}
footer {
  background: var(--dark-light);
}
footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
footer .logo,
footer p {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  width: 100%;
}

footer .logo {
  font-size: 30px;
  line-height: 40px;
  color: var(--blue-text);
  font-weight: 900;
}

footer p {
  margin: 0px 15px;
  font-size: 20px;
  line-height: 30px;
  color:var(--blue-text);
  cursor: pointer;
  transition: 0.3s;
}
footer p {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.experience .experience-wrapper {
  height: calc(100vh - 120px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 200px 30px 300px 30px ;
  background-image:url(/src/images/neon.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-bottom: 300px;
  margin-top: 300px;
}
.experience .experience-content {
  padding-top: 10%;
}
.experience h4 {
  font-size: 30px;
  line-height: 26px;
  color: var(--blue-text);
  font-weight: 600;
  padding: 10px 60px 00px 30px ;
}
.experience  p {
  font-size: 16px;
  line-height: 26px;
  color: var(--light);
  padding: 10px 60px 10px 30px ;
}

.experience .btn {
  max-width: 150px;
  height: 50px;
  background: #0058B3;
  color: var(--light);
  margin-top: 10px;
  margin-left: 30px;
  border: 1px solid var(--blue-dark);
  font-weight: 600;
}

.experience .btn:hover {
  background: var(--blue-text);
}
.experience .experience-img{
  position: relative;
  height: auto;
 width: 100%;
 padding: 50px 20px 40px 50px ;
}
@media (max-width: 767px) {
  header .links {
    display: none;
  }
  header .menu {
    display: block;
    font-size: 20px;
    cursor: pointer;
  }
  header .mobile-links.active {
    position: fixed;
    top: 70px;
    right: 0;
    width: 250px;
    transition: 0.3s;
    display: block;
    display: flex;
    flex-direction: column;
    background: var(--dark-light);
    bottom: 0;
    padding: 100px 40px;
    z-index: 10;
  }
  header .mobile-links.active a {
    font-size: 20px;
    margin-bottom: 20px;
    color: var(--blue-text);
    line-height: 30px;
    transition: 0.3s;
    display: inline;
    padding-bottom: 3px;
    border-bottom: 2px solid transparent;
  }
  header .mobile-links.active a:hover {
    border-color: var(--blue-text);
  }
  .banner .banner-wrapper {
    flex-wrap: wrap;
    height: auto;
    padding: 50px 0px;
  }
  .banner .banner-img {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
}
@media (max-width: 660px) {
  .banner .banner-content h3 {
    font-size: 30px;
    line-height: 40px;
  }
  .services-experience::before {
    width: 0;
  }
  .services .service {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .experience,
  .portfolios {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
  }
  .projects-wrapper .project {
    flex: 0 0 100%;
    max-width: 100%;
  }
  footer .container {
    flex-wrap: wrap;
    height: auto;
    padding: 20px;
  }
  footer .logo,
  footer .links,
  footer p {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
    justify-content: center;
    text-align: center;
  }
  footer p {
    margin-bottom: 0px;
  }
}

@media (max-width: 500px) {
  .portfolio {
    flex: 0 0 100%;
    max-width: 100%;
  }
  section {
    padding: 50px 0px !important;
  }
  .projects .title {
    flex-wrap: wrap;
  }
  .projects .title .btn {
    max-width: 100px;
    font-size: 16px;
    line-height: 24px;
    height: 40px;
    margin-bottom: 20px;
  }
  .projects .title h3 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
  }
}
